.price {
	&__container {
		background-color: #f7f7f7;
		width: 100%;
		padding: 3rem;
		border-radius: 30px;
	}
	&__header {
		height: 7rem;
		font-size: 3.2rem;
		display: flex;
		align-items: center;
		width: 100%;
		border-radius: 30px;
		background-image: url("../../assets/imgs/header-background.png");
		color: var(--color-blue);
		padding: 0 3rem;
	}
	&__items {
		margin-top: 3rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(3, 1fr);
		grid-column-gap: 3rem;
	}
	&__item {
		display: flex;
		justify-content: space-between;
		background-color: var(--color-white);
		padding: 1rem;
		font-size: 1.6rem;
	}
	&__title {
		margin-bottom: 0;
		font-size: 1.6rem;
	}
	&__price {
		font-weight: 500;
	}
}
