mixin info()
	section.section-info
		div.info
			p.info__header Лечение кариеса в «Академической стоматологии»
			div.info__row
				div.info__left
					img(src="../../assets/imgs/info.png").info__img
				div.info__right
					p.info__text В «Академической стоматологии» при лечении кариеса применяются современные пломбировочные материалы и анестетики.
					p.info__text.info__text-blue В «Академической стоматологии» при лечении кариеса применяются современные пломбировочные материалы и анестетики.
					p.info__text Мы поможем привести ваши зубы в отличное состояние, а также расскажем, что делать для того, чтобы сохранить их здоровыми.
			div.info__bottom
				p.info__header Есть несколько стадий кариеса
				div.info__card-container
					+card([
						{
							img: '../../assets/imgs/tooth-1.png',
							title: 'Стадии кариеса',
							story: 'Кариес выглядит как белое или коричневое пятно, он почти незаметен, мы проведём лечение без уколов и сверления'
						},
						{
							img: '../../assets/imgs/tooth-2.png',
							title: 'Кариес эмали',
							story: 'Кариес разрушил только эмаль, мы уберём инфицированные ткани и аккуратно восстановим анатомию зуба небольшой пломбой'
						},
						{
							img: '../../assets/imgs/tooth-3.png',
							title: 'Кариес дентина',
							story: 'Инфекция уже захватила средние слои дентина, но мы спасём ваш зуб, тщательно удалим кариозное образование и проведём реставрацию'
						},
						{
							img: '../../assets/imgs/tooth-4.png',
							title: 'Кариес дентина глубокий',
							story: 'Процесс уже достиг глубоких слоев дентина, и инфекция вот-вот доберётся до нерва, но при своевременном обращении мы сохраним зуб, удалив кариозные ткани и восстановив его анатомическую форму'
						},
					])
				p.info__text Для повышения эффективности лечения в сложных случаях мы применяем микроскоп. Благодаря этому доктор удаляет только кариес и сохраняет максимальное количество здоровых тканей.
