extends templates/layouts/layout
block main
	.wallpaper
	.container
		h1 Цены на лечение кариеса в нашей клинике
		+price('Лечение кариеса', [
			{
				title: 'Первичный прием врача-стоматолога',
				price: '1 500'
			},
			{
				title: 'Первичный прием врача-стоматолога',
				price: 'от 1 500'
			},
			{
				title: 'Первичный прием врача-стоматолога',
				price: '1 500'
			},
			{
				title: 'Первичный прием врача-стоматолога',
				price: 'от 1 500'
			},
			{
				title: 'Первичный прием врача-стоматолога',
				price: '1 500'
			},
		])
		+appointment
block css
	link(rel="stylesheet" href="styles/pages/main.scss")

block js
	script(type="module" src="scripts/pages/main.js")

